<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.WindowsEventLog" />
  </extensions>
  <targets>
    <target type="EventLog" name="AppLogger" source="Shorty.Web.1.0" layout="[${assembly-version}] ${message}" />
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="AppLogger" />
  </rules>
</nlog>
