<div class="shorty__uri-container">
    <mat-form-field class="shorty__uri-prefix-form-input-field">
        <input
            matInput
            type="text"
            maxlength="20"
            [placeholder]="text.UriPrefix"
            [formControl]="uriPrefixForm"
            [value]="shortyModel.uriPrefix$ | async"
            onClick="this.setSelectionRange(0, this.value.length)"
        />
    </mat-form-field>

    <mat-form-field class="shorty__uri-form-input-field">
        <input
            type="url"
            (keyup.enter)="shorten()"
            matInput
            [placeholder]="text.Uri"
            [formControl]="uriForm"
            [value]="shortyModel.longUri$ | async"
            onClick="this.setSelectionRange(0, this.value.length)"
            autofocus
        />
        <mat-error *ngIf="uriForm.invalid"> {{ text.ShortenFieldValidationMessage }} </mat-error>
        <mat-icon
            (click)="shorten()"
            class="shorty__uri-form-icon"
            matSuffix
            [matTooltip]="text.Shorten"
            [class.disabled]="uriForm.disabled || uriForm.invalid"
            >link</mat-icon
        >
    </mat-form-field>

    <ng-container *ngIf="shortyModel.shortenUri$ | async as shortenUri">
        <mat-form-field class="shorty__uri-form-result-field">
            <input
                type="text"
                readonly
                matInput
                [formControl]="resultControl"
                [value]="shortyModel.shortenUri$ | async"
                onClick="this.setSelectionRange(0, this.value.length)"
            />
            <mat-icon matSuffix (click)="copyToClipboard(shortenUri)" [matTooltip]="text.Copy"
                >file_copy</mat-icon
            >
        </mat-form-field>
    </ng-container>
</div>
